.bg-light-blue {
	background-color: #1c2a48;
}

section h2.section-heading {
	font-size: 40px;
}

/*
header .btn-xl {
  background-color: rgb(147,149,152);
	border-color: white;
}
*/
header {
  background-image:none;
  /*background: #263238;*/
  background: rgb(0,79,163);

}

header .intro-text .intro-lead-in {
  color: white;
  /*color: #0d47a1;*/
  font-weight: 700;
  /*text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;*/
}

header .intro-text .intro-heading {
  /*color: #263238;*/
  /*rgb(100,174,239);*/
  /*color: rgb(0,79,163);*/
  color: white;
  font-size: 50px;
	font-weight: 600;
	line-height: 50px;
}

header .intro-text a {
  color: white;

}

a#logoName{
  /*color: rgb(139,3,4);*/
  color:white;
  font-size: 40px;
}

.navbar.navbar-custom.navbar-fixed-top{
  background-color: transparent;
  background: rgba(79, 195, 247, 0.3);
  border-color: transparent;
}

div#navbarResponsive a { color: white; }

div#navbarResponsive a:hover,
div#navbarResponsive a:focus,
div#navbarResponsive a:active,
div#navbarResponsive a.active {
  color: white;
  background-color: rgb(125,172,63);
}

.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}

#services, #about {
  background: white;
  /*height: 200px;*/
  /*background: red;*/ /* For browsers that do not support gradients */
  /*background: linear-gradient(rgb(0,79,163), rgb(0,174,239), rgb(109,207,246)); */ /* Standard syntax (must be last) */
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: rgb(125,172,63);

}

.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: transparent;
	background: rgb(125,172,63);
  opacity: 0.3;
}
/*test
  section #test {
    color: green;
  }
*/

.navbar-custom .navbar-toggle {
  background-color: rgb(125,172,63);
  /*border-color: rgb(0,79,163);*/
	border-color: transparent;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: rgb(0,79,163);
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #339933;
  border-color: transparent;
}

/*
section#contact .text-center .btn-xl {
	background-color: gray;
  border-color: transparent;

}
*/

.btn-xl {
  color: white;
  background-color: #5cb85c;
  border-color: transparent;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}

section {
  padding: 100px 0;
	/*height: 300px;*/
}

section#services .row .service-heading {
	color: black;
}

/*Requirements box css*/
.container {
    padding-top: 40px;
}
#details {
    font-family: "Quicksand", sans-serif;
    font-size: 60px;
}
#home-box > h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: #75b1ae;
}
.price {
    font-size: 25px;
    float: left;
}
.requirement_header {
    background: none repeat scroll 0% 0% rgb(0,79,163);
    border-radius: 5px 5px 0px 0px;
    transition: background 0.4s ease-out 0s;
}
.requirement_header h4 {
    text-align: center;
		line-height: 25px;
    padding: 15px 0px;
    margin: 0px;
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    color: white;
}
section#services .btn {

    float: right;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
		padding: 10px 20px;
 		font-size: 40px;
 		border-radius: 10px;

}
.off {
    text-decoration: line-through;
    color: rgb(86, 86, 86);
}
.spaceBorder {
    height: 2px;
    background-color: rgb(0,79,163);
}

/*End of Requirements box css*/


hr.styleDotted {

	border-top: 5px dotted #8c8b8b;
	border-bottom: 5px dotted #fff;

}
